.jumbotron {
    background: url("/src/assets/images/background.jpeg")!important;
    color: #fff;
    width: 100%;
    font-weight: 600;
    height: 100%;
    display: flex;
    background-size: cover;
}