.jumbotron {
    background: url("/Users/barbpotiriadis/employee-directory/public/assets/images/background.jpeg");
    color: #fff;
    width: 100%;
    font-weight: 600;
    height: 100%;
    /* background-size:cover; */
}